        body {
            background-color: #213C51;
            color: white;
            font-family: Arial, sans-serif;
        }
        h1, p {
            text-align: center;
        }
        a {
            color: #EDEDCE;
            text-decoration: none;
        }
        .form {
            background-color: #2C5364;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px black;
            width: 300px;
            margin: 50px auto;
        }
        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 5px;
            border: none;
            border-radius: 8px;
            box-sizing: border-box;
        }